<footer class="pb-4">
    <div class="container" text-center>
        <a href="https://reamurcms.com" target="_blank">{{ text_project}} </a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="http://docs.reamurcms.com" target="_blank">{{ text_documentation }}</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="https://forum.reamurcms.com" target="_blank">{{ text_support }}</a>
    </div>
</footer>