<!DOCTYPE html>
<html lang="{{ lang }}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <base href="{{ base_url }}">

    <!-- CSS -->
    <link rel="stylesheet" media="screen" href="view/css/bootstrap.css">   
    <link rel="stylesheet" media="screen" href="view/css/bootstrap.css">
    <link rel="stylesheet" media="screen" href="view/css/reamur.css">
    <link rel="stylesheet" media="screen" href="view/css/fonts/fontawesome/css/all.css">

    <!-- JS -->
    <script type="text/javascript" src="view/js/jquery/jquery-3.7.1.min.js"></script>
    <script type="text/javascript" src="view/js/bootstrap/js/bootstrap.bundle.js"></script>
    <script type="text/javascript" src="view/js/common.js"></script>
</head>
<body>
    <div id="container">
        <header id="header" class="navbar navbar-expand navbar-light bg-light">
            <div class="container">
                <a class="navbar-brand d-block" href="{{ home }}">
                    <img src="view/images/reamurcms.png" alt="ReamurCMS" title="ReamurCMS">
                </a>                
            </div>
        </header>